*.bak
*.elc
*.log
*.stackdump
*~
flycheck_*
.cache
.emacs.desktop
.emacs.desktop.lock
.lsp-session-v1
.org-id-locations
.persistent-scratch
.recentf
.session
ac-comphist.dat
amx-items
anything-c-adaptive-history
bm-repository
bookmarks
company-statistics-cache.el
custom.el
el-get-backup-*/
el-get/
elpa/
elscreen
ido.last
network-security.data
org-roam.db
projectile-bookmarks.eld
recentf
request/
server/server
session.*
straight/
tramp
transient/
tutorial/
url/cache
url/cookies
eln-cache/
history
projects
